<div class="form-container">
    <h1>
        <%= title %>
    </h1>

    <% if (messages.notice) { %>
        <div class="notice">
            <%= messages.notice %>
        </div>
        <% } %>

            <!-- UPDATE ACCOUNT -->
<form method="POST" action="/account/update">
    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <input type="text" name="account_firstname" value="<%= accountData.account_firstname %>">
    <input type="text" name="account_lastname" value="<%= accountData.account_lastname %>">
    <input type="email" name="account_email" value="<%= accountData.account_email %>">

    <button>Update Info</button>
</form>

<form method="POST" action="/account/update-password">
    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <input type="password" name="account_password" required>

    <button>Change Password</button>
</form>
</div>