<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div id="wrapper">

        <!-- Header -->
        <%- include('partials/header') %>

            <!-- Navigation -->
            <nav>
                <%- nav %>
            </nav>

            <!-- Main Content -->
            <main>
                <%- body %>
            </main>

            <!-- Footer (ONLY ONCE) -->
            <%- include('partials/footer') %>

    </div>

    <script src="/js/script.js"></script>
</body>

</html>